@use "../../../global_styles/colors";

.sidebar {
  height: 100vh;
  border-left: 1px solid colors.$light-gray;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-icon {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid colors.$light-gray;

  button {
    width: auto;
    height: auto;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  span {
    font-size: 0.8rem;
    margin-top: 2px;
  }
}

.container-space-between {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  border-bottom: 1px dashed colors.$light-gray;
}

.button-reset {
  padding: 8px 18px;
  background: transparent;
  border: 1px solid colors.$light-gray;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
}

.board-size-input {
  width: 60px;
  height: auto;
  padding: 5px 3px;
  border-radius: 2px;
  border: 1px solid colors.$light-gray;
  background-color: transparent;
  color: white;
  outline: none;
  display: block;
  margin-right: 20px;
}

.board-size-label {
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
}

.number-of-bombs-label {
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
}

.number-of-bombs-input {
  width: 60px;
  height: auto;
  padding: 5px 3px;
  border-radius: 2px;
  border: 1px solid colors.$light-gray;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
  display: block;
  margin-right: 20px;
}

.hamburger {
  width: 40px;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px;

  &__line {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 5px;
    display: block;
  }
}

#button-submit-board-settings {
  min-width: 80px;
  min-height: 20px;
  width: auto;
  height: auto;
  padding: 8px 18px;
  font-size: 16px;
  background-color: #558b2f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 100px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-top: 30px;
  cursor: pointer;
}

.icon {
  color: green;
}
